@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Cuprum:wght@400;700&display=swap%27");

/* GENERAL */

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

header {
  z-index: 1;
}

main {
  z-index: 0;
}

footer {
  z-index: 0;
}

body {
  background-color: black;
  font-family: "Roboto Condensed", Verdana, sans-serif;
  color: white;
  justify-content: space-between;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* SECTION CRYPTO LIVE */

section {
  width: 87%;
}

/* SUBTITLE */

.subtitle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50px;
}

h1 {
  font-family: "Cuprum", Impact, sans-serif;
  font-weight: 400;
  font-size: 28px;
  text-align: center;
  margin-bottom: 10px;
}

.subtitle-line {
  width: 127px;
  height: 5px;
  background-color: #35a18b;
  border-radius: 5px;
}

/* GRAPH SELECTED CRYPTO */

.graph-container {
  margin-top: 25px;
  height: 290px;
  max-height: 290px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 4px 11px rgba(53, 161, 139, 0.69);
}

.name-revealed-container {
  width: 125px;
  height: 34px;
  margin: 10px;
  display: flex;
  align-items: center;
  background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(255, 255, 255, 0) 0%,
      rgba(88, 87, 87, 0.3) 100%
    ),
    #35a18b;
  border-radius: 10px;
  padding: 2px 6px 2px 6px;
}

.name-revealed-container .name-logo {
  width: 27px;
  height: 27px;
}

.name-revealed-container p {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 700;
}

.name-unrevealed-container {
  display: none;
}

.graph-container .graph-images {
  overflow: hidden;
}

.graph-container .graph-images .image-selected-graph {
  display: flex;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.graph-container .graph-images .image-unselected-graph {
  display: none;
}

/* GRID OF CRYPTOS */

.cryptos-grid {
  margin-top: 14px;
  height: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 14px;
}

.crypto-bloc-selected,
.crypto-bloc-unselected {
  display: flex;
  align-items: center;
  background-color: #35a18b;
  border: solid 1px white;
  color: white;
  border-radius: 10px;
  padding: 2px 2px 2px 3px;
  box-shadow: 0px 4px 11px rgba(53, 161, 139, 0.69);
}

.crypto-bloc-selected {
  background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(255, 255, 255, 0) 0%,
      rgba(88, 87, 87, 0.3) 100%
    ),
    #35a18b;
}

.crypto-bloc-unselected {
  background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(255, 255, 255, 0) 0%,
      rgba(88, 87, 87, 0.3) 100%
    ),
    #ffffff;
}

.positive-evolution {
  color: #04be00;
}

.negative-evolution {
  color: #ff0000;
}

.crypto-bloc-selected img,
.crypto-bloc-unselected img {
  width: 27px;
  height: 27px;
}

.crypto-bloc-selected p,
.crypto-bloc-unselected p {
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}

.crypto-bloc-selected p span,
.crypto-bloc-unselected p span {
  font-size: 10px;
}

.positive-evolution {
  color: #04be00;
}

.negative-evolution {
  color: #ff0000;
}

main {
  height: 500px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px 0 35px;
  background-color: #35a18b;
  width: 100%;
  height: 120px;
}

.logo {
  margin-left: 10px;
  width: 237px;
  height: 46px;
}

#burger {
  width: 40px;
  height: 5px;
  background: white;
  display: inline-block;
  position: relative;
  left: 6px;
  border-radius: 10px;
}

.burger-container {
  width: 52px;
  height: 52px;
  background-color: #007860;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.burger-container a {
  height: 52px;
  width: 52px;
}

#burger::before,
#burger::after {
  content: "";
  width: 40px;
  height: 5px;
  background: white;
  display: inline-block;
  position: absolute;
  transform-origin: center;
  transition: all 0.5s ease;
  border-radius: 10px;
}

#burger::before {
  top: 13px;
}

#burger::after {
  top: 26px;
}

#burger.open {
  background: transparent;
}

#burger.open::before {
  transform: rotate(135deg);
  top: 13px;
}

#burger.open::after {
  transform: rotate(-135deg);
  top: 13px;
}

header {
  width: 100%;
}

header ul {
  background: #007860;
  position: absolute;
  width: 65%;
  height: 100%;
  left: 0;
  top: 120px;
  opacity: 80%;
  padding: 10px 0;
  transform: scaleY(0);
  transform-origin: left top;
  transition: all 0.5s ease;
}

ul.open {
  transform: scaleY(1);
}

header li {
  padding: 40px 10px 40px 35px;
  font-size: 28px;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: white;
}

/* footer */

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #35a18b;
  height: 250px;
  width: 100%;
}

h1 {
  font-family: "Cuprum", Impact, sans-serif;
  color: white;
  text-align: center;
  font-size: 28px;
  margin-top: 1%;
  font-weight: normal;
}

hr {
  width: 25%;
  height: 5px;
  background-color: white;
  border-radius: 2px;
  border: #35a18b;
  margin: 5px auto 15px auto;
}

.input {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.email-footer {
  border-radius: 5px;
  border: white;
}

.click-footer {
  border-radius: 5px;
  background-color: #007860;
  color: white;
  width: 25%;
  border: none;
  margin-left: 4%;
}

footer p {
  color: aliceblue;
  text-align: center;
  font-size: 16px;
  margin: 20px 0;
}

footer .legacy ul {
  color: aliceblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

footer li {
  list-style: none;
  padding-left: 33px;
  padding-right: 33px;
  font-size: 11px;
  margin: 10px 0;
}

/* End footer */

/* Article */

.articles {
  padding-top: 10px;
}

article {
  height: 104px;
  width: 328px;
  margin: 20px 0;
  display: flex;
  border: 1px solid white;
  filter: drop-shadow(1px 5px 5px #35a18b);
  border-radius: 10px;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.article-content {
  background: radial-gradient(#ffffff, lightgrey);
  color: black;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.article-content p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin: auto;
}

img {
  height: 104px;
  width: 125px;
}

.right-image {
  flex-direction: row-reverse;
}

h2 {
  font-size: 16px;
  font-weight: normal;
}

p {
  font-size: 12px;
}